<article class="mb-4 card">
    <h5 class="card-header">
        <div class="d-flex justify-content-between">
        <a href="/user/<%= post.user.username %>"><%= post.user.username %></a>
        <a href="/posts/show/<%= post._id %>"><i class="fas fa-ellipsis-h"></i></a>
        </div>
    </h5> 
    <div class="card-body">
        <p class="card-text"><%= post.body %></p>
    </div>

    <div class="card-footer text-muted d-flex justify-content-between">
        <% let replyCount = 0 %>
        <% for (let comment of post.comments) { %>
            <% if(comment.replies) { %>
                <% replyCount += comment.replies.length; %>
            <% } %>
        <% } %>  
        <a href="/posts/show/<%= post._id %>"><%= post.comments.length + replyCount %> <%= post.comments.length + replyCount === 1 ? 'Comment' : 'Comments' %></a>
        <%= post.dateDif %>
    </div>
</article>