<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-6 my-auto">
            <section class="mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h2 class="my-auto"><a href="/user/<%= user.username %>"><%= user.username %></a></h2>
                        <form action="/user/<%= user.username %>" method="POST">
                            <div class="d-grid gap-2">
                                <% if (user_id !== user._id.toString()) { %> 
                                <% if (user_id && isFollowing) { %> 
                                <button class="my-auto btn btn-secondary user-card-btn">Following</button>
                                <% } else { %> 
                                <button class="my-auto btn btn-primary user-card-btn">Follow</button>
                                <% } %> 
                                <% } %> 
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="card-text text-center d-flex flex-row justify-content-evenly">
                            <p class="d-inline lead my-0"><strong><%= user.posts.length %></strong> <a href="/user/<%= user.username %>"><%= user.posts.length === 1 ? 'Post' : 'Posts' %></a></p>
                            <p class="d-inline lead my-0"><strong><%= user.followers.length %></strong> <a href="/user/<%= user.username %>/followers"><%= user.followers.length === 1 ? 'Follower' : 'Followers' %></a></p>
                            <p class="d-inline lead my-0"><strong><%= user.following.length %></strong> <a href="/user/<%= user.username %>/following">Following</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <% if (user_id === user._id.toString()) { %>
                <section>
                    <h2>What's happening?</h2>
                    <form class="needs-validation" action="/posts" method="POST" novalidate>
                        <textarea class="form-control" name="body" placeholder="Everyone's waiting to hear from you!" required></textarea>
                    <div class="text-end d-grid gap-2">
                    <button class="mt-2 my-4 btn-sm btn-primary">POST</button>
                    </div>
                    </form>
                </section>
                <% } %>
        </div>
    </div>
</div>