<%- layout('./templates/boilerplate') -%>
<div class="row mt-4">
    <div class="col-6 offset-3">
        <%- include('../partials/userBlock') %>

        <section class="container-fluid p-0">
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <h5 class="card-header">Followed by <%= user.username %> (<%= user.following.length %>) </h5>
                            <div class="card-body">
                                <% for (let follow of user.following) { %>
                                    <div class="mb-3">
                                        <a href="/user/<%= follow.username %>"><p class="lead"><%= follow.username %></p></a>
                                    </div>
                                <% } %>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>