<%- layout('./templates/boilerplate') -%>
<div class="row mt-4">
    <div class="col-6 offset-3">
        <%- include('../partials/userBlock') %>

        <section>
        <h1 class="mb-4">Latest Posts</h1>
        <% if (user.posts.length === 0) { %>
            <p class="lead"><%= user.username %> has not posted yet!</p>
        <% } %> 
        <% for (let post of user.posts ) { %>
            <article class="mb-4 card">
                <h5 class="card-header">
                    <div class="d-flex justify-content-between">
                    <%= post.user.username %>
                    <a href="/posts/show/<%= post._id %>"><i class="fas fa-ellipsis-h"></i></a>
                    </div>
                </h5> 
                <div class="card-body">
                    <p class="card-text"><%= post.body %></p>
                </div>
                <div class="card-footer text-muted">
                    <a href="/posts/show/<%= post._id %>"><%= post.comments.length %> <%= post.comments.length === 1 ? 'Comment' : 'Comments' %></a> / 
                    <%= post.date %>
                </div>
            </article>
        <% } %>
        </section>
    </div>
</div>