<%- layout('./templates/boilerplate') -%>
<div class="row mt-4">
    <div class="col-6 offset-3">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-5">
                    <section class="mb-4">
                        <div class="card">
                            <h1 class="card-header"><%= user.username %></h1>
                            <div class="card-body">
                                <div class="card-text">
                                    <p class="d-inline lead my-0"><strong><%= user.posts.length %></strong> <a href="/user/<%= user.username %>"><%= user.posts.length === 1 ? 'Post' : 'Posts' %></a></p>
                                    <p class="d-inline lead my-0"><strong><%= user.followers.length %></strong> <a href="/user/<%= user.username %>/followers"><%= user.followers.length === 1 ? 'Follower' : 'Followers' %></a></p>
                                    <p class="d-inline lead my-0"><strong><%= user.following.length %></strong> <a href="/user/<%= user.username %>/following">Following</a></p>
                                </div>
                            </div>
                            <form action="/user/<%= user.username %>" method="POST">
                                <div class="d-grid gap-2">
                                    <% if (user_id !== user._id.toString()) { %> 
                                    <% if (user_id && isFollowing) { %> 
                                    <button class="btn btn-secondary">Following</button>
                                    <% } else { %> 
                                    <button class="btn btn-primary">Follow</button>
                                    <% } %> 
                                    <% } %> 
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="col-7">
                    <% if (user_id === user._id.toString()) { %>
                        <section>
                            <h2>What's happening?</h2>
                            <form class="needs-validation" action="/posts" method="POST" novalidate>
                                <textarea class="mt-4 form-control" name="body" placeholder="Everyone's waiting to hear from you!" required></textarea>
                            <div class="text-end">
                            <button class="mt-2 my-4 btn-sm btn-primary">Submit</button>
                            </div>
                            </form>
                        </section>
                        <% } %>
                </div>
            </div>
        </div>

        <section>
        <h1 class="mb-4">Latest Posts</h1>
        <% for (let post of user.posts ) { %>
            <article class="mb-4 card">
                <h5 class="card-header">
                    <div class="d-flex justify-content-between">
                    <%= post.user.username %>
                    <a href="/posts/show/<%= post._id %>"><i class="fas fa-ellipsis-h"></i></a>
                    </div>
                </h5> 
                <div class="card-body">
                    <p class="card-text"><%= post.body %></p>
                </div>
                <div class="card-footer text-muted">
                    <a href="/posts/show/<%= post._id %>"><%= post.comments.length %> <%= post.comments.length === 1 ? 'Comment' : 'Comments' %></a> / 
                    <%= post.date %>
                </div>
            </article>
        <% } %>
        </section>

        <br><br>
        <a href="/posts">Back</a>
    </div>
</div>