<%- layout('./templates/boilerplate') -%>
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="mb-4">View Post</h1>
        <article class="mb-4 card">
            <h5 class="card-header">
                <div class="d-flex justify-content-between">
                <span class="my-auto"><a href="/user/<%= post.user.username %>"><%= post.user.username %></a></span>
                <% if (post.user._id.toString() === user_id) { %>
                    <div>
                    <button class="btn btn-sm btn-warning d-inline"><a href="/posts/show/<%= post._id %>/edit"><i class="fas fa-edit"></i></a></button>
                    <form class="d-inline" action="/posts/show/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm  btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    </div>
                <% } %>
                </div>
            </h5> 
            <div class="card-body">
                <p class="card-text"><%= post.body %></p>
            </div>
            <div class="card-footer text-muted">
                <%= post.date %>
            </div>
        </article>

        <% if (username) { %> 
            <section class="mb-4 card">
                <h5 class="card-header">Add Comment</h5> 
                <div class="card-body">
                    <form action="/posts/show/<%= post._id %>" method="POST" class="needs-validation" novalidate>
                    <textarea class="form-control" name="body" rows="4" required></textarea>
                    <div class="invalid-feedback">
                        You can't leave a blank comment!
                    </div>
                    <button class="mt-3 btn-sm btn-primary">Add Comment</button>
                    </form>
                </div>
            </section>
            <% } %> 

        <section class="mb-4 card">
            <h5 class="card-header">Comments</h5> 
            <div class="card-body">
                <%= post.comments.length === 0 ? 'Be the first to comment!' : '' %>
                <% for (let comment of post.comments) { %>
                    <div class="mb-2 userHover">
                        <div class="d-flex justify-content-between">
                        <h5 class="d-inline my-auto"><a href="/user/<%= comment.user.username %>"><%= comment.user.username %></h5></a>
                        <% if (comment.user._id.toString() === user_id) { %>
                            <div class="uncover d-inline">
                                <button class="btn btn-sm btn-warning d-inline"><a href="/posts/show/<%= post._id %>/<%= comment._id %>/edit"><i class="fas fa-edit"></i></a></button>
                                <form class="d-inline" action="/posts/show/<%= post._id %>/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                        <p class="card-text mt-2 mb-2"><%= comment.body %></p>
                        <p class="card-text text-muted"><%= comment.date %></p>
                    </div>
                    <a href="/posts/show/<%= post._id %>/<%= comment._id %>">Reply to <%= comment.user.username %></a>
                    <% for (let reply of comment.replies) { %>
                        <div class="ms-4 mb-3 mt-3 userHover">
                            <div class="d-flex justify-content-between">
                            <h5 class="d-inline my-auto"><a href="/user/<%= reply.user.username %>"><%= reply.user.username %></h5></a>
                            <% if (reply.user._id.toString() === user_id) { %>
                                <div class="uncover d-inline">
                                    <button class="btn btn-sm btn-warning d-inline"><a href="/posts/show/<%= post._id %>/<%= comment._id %>/<%= reply._id %>/edit"><i class="fas fa-edit"></i></a></button>
                                    <form class="d-inline" action="/posts/show/<%= post._id %>/<%= comment._id %>/<%= reply._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                                <% } %>
                            </div>
                            <p class="card-text mt-2 mb-2"><%= reply.body %></p>
                            <p class="card-text text-muted"><%= reply.date %></p>
                        </div>
                    <% } %>  
                    <hr>
                <% } %>
            </div>
        </section>
    </div>
</div>